<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transaction History</title>
<link rel="stylesheet" href="/css/trans.css">
</head>
<body>
  <center>
<div class="container">
  <h1>Transaction History</h1>
  <div class="transaction-list">
    <div class="transaction-item">
<h1>NIL</h1>
    </div>
    <div class="transaction-item">
<h1>NIL</h1>
    </div>
    <!-- Add more transaction items as needed -->
  </div>
</div>
</center>
</body>
</html>
